body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #000, #333);
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 1em;
}

.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.tile {
  position: relative;
  margin: 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end; /* Align children vertically at the bottom */
  justify-content: center; /* Center children horizontally */
  transition: all 0.3s;
  overflow: hidden; /* Hide the overflowing content */
  background: linear-gradient(to bottom, transparent 0%, transparent 80%, black 100%); /* Overlay at the bottom */
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
  transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out !important;
}

.tile.expanded {
  
}

.tile.expanded img {
  object-fit: contain; /* Adjust to contain to prevent image from being cut off */
  filter: blur(5px); 
  width: 100vw; 
  height: 100vh; /* Adjust to viewport height to ensure the image fills the screen */
  transition: all 0.3s;
}

.project-title, .stacks {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.project-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%; /* Height of the title area at the bottom of the tile */
}

.stacks {
  bottom: 0;
  opacity: 0;
}

.stacks img {
  max-width: 20px; /* Limit image size */
  vertical-align: middle;
  filter: none !important;
}

.expanded .project-title,
.expanded .stacks {
  display: none; /* Hide title and stacks in the expanded view */
}

.tile:hover .project-title {
  bottom: 35%;
}

.tile:hover .stacks {
  opacity: 1;
  bottom: 5%; /* Make text/images slide upwards */
}

.tile:hover img {
  opacity: 1;
  filter: blur(5px); /* Apply blur to the image when tile is hovered */
  transition: opacity 0.5s ease-in-out;
}

.tile:hover .stacks img {
  filter: none !important;
}

#back-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2000; /* Make sure back button appears above expanded tiles */
}

.hidden {
  display: none;
}

.typewriter {
  position: fixed; /* or absolute */
  z-index: 2002; /* any value higher than the highest z-index used in other elements */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* Adjust based on your needs */
  font-size: 2em;
  font-family: 'Courier', monospace;
}

.typewriter h1 {
  margin: 0;
  color: black;
  background-color: white;
  white-space: nowrap;
  border-right: .15em solid black;
  overflow: hidden;
  animation: typing 4.5s steps(61, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0; } /* Starts from zero */
  to { width: 100%; } /* Goes to 100% of whatever maximum width you've set */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}
