body
{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
}

.line
{
  content: '';
  position: absolute;
  display: block;
  top: 25%;
  left: 33.3%;
  width: 2%;
  height: 1px;
  background: #fff;
  z-index: 2;
  transform-origin: left;
}
  
.line2
{
  content: '';
  position: absolute;
  display: block;
  top: 25%;
  left: 33.3%;
  width: 1px;
  height: 15%;
  background: #fff;
  z-index: 2;
  transform-origin: left;
}
  
.line3
{
  content: '';
  position: absolute;
  display: block;
  top: 40%;
  left: 33.3%;
  width: 2%;
  height: 1px;
  background: #fff;
  z-index: 2;
  transform-origin: left;
}